.qs-container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.qs-container--fluid {
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.qs-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.qs-col-lg-12, .qs-col-lg-11, .qs-col-lg-10, .qs-col-lg-9, .qs-col-lg-8, .qs-col-lg-7, .qs-col-lg-6, .qs-col-lg-5, .qs-col-lg-4, .qs-col-lg-3, .qs-col-lg-2, .qs-col-lg-1, .qs-col-md-12, .qs-col-md-11, .qs-col-md-10, .qs-col-md-9, .qs-col-md-8, .qs-col-md-7, .qs-col-md-6, .qs-col-md-5, .qs-col-md-4, .qs-col-md-3, .qs-col-md-2, .qs-col-md-1, .qs-col-sm-12, .qs-col-sm-11, .qs-col-sm-10, .qs-col-sm-9, .qs-col-sm-8, .qs-col-sm-7, .qs-col-sm-6, .qs-col-sm-5, .qs-col-sm-4, .qs-col-sm-3, .qs-col-sm-2, .qs-col-sm-1, .qs-col-xs-12, .qs-col-xs-11, .qs-col-xs-10, .qs-col-xs-9, .qs-col-xs-8, .qs-col-xs-7, .qs-col-xs-6, .qs-col-xs-5, .qs-col-xs-4, .qs-col-xs-3, .qs-col-xs-2, .qs-col-xs-1, .qs-col-all-12, .qs-col-all-11, .qs-col-all-10, .qs-col-all-9, .qs-col-all-8, .qs-col-all-7, .qs-col-all-6, .qs-col-all-5, .qs-col-all-4, .qs-col-all-3, .qs-col-all-2, .qs-col-all-1, .qs-col-lg, .qs-col-md, .qs-col-sm, .qs-col-xs, .qs-col-all {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.qs-col-lg, .qs-col-md, .qs-col-sm, .qs-col-xs, .qs-col-all {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.qs-col-all-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.qs-col-all-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.qs-col-all-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.qs-col-all-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.qs-col-all-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.qs-col-all-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.qs-col-all-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.qs-col-all-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.qs-col-all-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.qs-col-all-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.qs-col-all-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.qs-col-all-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.qs-col-off-all-1 {
  margin-left: 8.3333333333%;
}

.qs-col-off-all-2 {
  margin-left: 16.6666666667%;
}

.qs-col-off-all-3 {
  margin-left: 25%;
}

.qs-col-off-all-4 {
  margin-left: 33.3333333333%;
}

.qs-col-off-all-5 {
  margin-left: 41.6666666667%;
}

.qs-col-off-all-6 {
  margin-left: 50%;
}

.qs-col-off-all-7 {
  margin-left: 58.3333333333%;
}

.qs-col-off-all-8 {
  margin-left: 66.6666666667%;
}

.qs-col-off-all-9 {
  margin-left: 75%;
}

.qs-col-off-all-10 {
  margin-left: 83.3333333333%;
}

.qs-col-off-all-11 {
  margin-left: 91.6666666667%;
}

.qs-col-off-all-reset {
  margin-left: 0;
}

.qs-col-xs-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.qs-col-xs-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.qs-col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.qs-col-xs-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.qs-col-xs-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.qs-col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.qs-col-xs-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.qs-col-xs-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.qs-col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.qs-col-xs-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.qs-col-xs-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.qs-col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.qs-col-off-xs-1 {
  margin-left: 8.3333333333%;
}

.qs-col-off-xs-2 {
  margin-left: 16.6666666667%;
}

.qs-col-off-xs-3 {
  margin-left: 25%;
}

.qs-col-off-xs-4 {
  margin-left: 33.3333333333%;
}

.qs-col-off-xs-5 {
  margin-left: 41.6666666667%;
}

.qs-col-off-xs-6 {
  margin-left: 50%;
}

.qs-col-off-xs-7 {
  margin-left: 58.3333333333%;
}

.qs-col-off-xs-8 {
  margin-left: 66.6666666667%;
}

.qs-col-off-xs-9 {
  margin-left: 75%;
}

.qs-col-off-xs-10 {
  margin-left: 83.3333333333%;
}

.qs-col-off-xs-11 {
  margin-left: 91.6666666667%;
}

.qs-col-off-xs-reset {
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  .qs-col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .qs-col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qs-col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .qs-col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qs-col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .qs-col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .qs-col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .qs-col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .qs-col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .qs-col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .qs-col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .qs-col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .qs-col-off-sm-1 {
    margin-left: 8.3333333333%;
  }
  .qs-col-off-sm-2 {
    margin-left: 16.6666666667%;
  }
  .qs-col-off-sm-3 {
    margin-left: 25%;
  }
  .qs-col-off-sm-4 {
    margin-left: 33.3333333333%;
  }
  .qs-col-off-sm-5 {
    margin-left: 41.6666666667%;
  }
  .qs-col-off-sm-6 {
    margin-left: 50%;
  }
  .qs-col-off-sm-7 {
    margin-left: 58.3333333333%;
  }
  .qs-col-off-sm-8 {
    margin-left: 66.6666666667%;
  }
  .qs-col-off-sm-9 {
    margin-left: 75%;
  }
  .qs-col-off-sm-10 {
    margin-left: 83.3333333333%;
  }
  .qs-col-off-sm-11 {
    margin-left: 91.6666666667%;
  }
  .qs-col-off-sm-reset {
    margin-left: 0;
  }
}
@media only screen and (min-width: 992px) {
  .qs-col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .qs-col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qs-col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .qs-col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qs-col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .qs-col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .qs-col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .qs-col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .qs-col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .qs-col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .qs-col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .qs-col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .qs-col-off-md-1 {
    margin-left: 8.3333333333%;
  }
  .qs-col-off-md-2 {
    margin-left: 16.6666666667%;
  }
  .qs-col-off-md-3 {
    margin-left: 25%;
  }
  .qs-col-off-md-4 {
    margin-left: 33.3333333333%;
  }
  .qs-col-off-md-5 {
    margin-left: 41.6666666667%;
  }
  .qs-col-off-md-6 {
    margin-left: 50%;
  }
  .qs-col-off-md-7 {
    margin-left: 58.3333333333%;
  }
  .qs-col-off-md-8 {
    margin-left: 66.6666666667%;
  }
  .qs-col-off-md-9 {
    margin-left: 75%;
  }
  .qs-col-off-md-10 {
    margin-left: 83.3333333333%;
  }
  .qs-col-off-md-11 {
    margin-left: 91.6666666667%;
  }
  .qs-col-off-md-reset {
    margin-left: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .qs-col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .qs-col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .qs-col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .qs-col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .qs-col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .qs-col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .qs-col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .qs-col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .qs-col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .qs-col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .qs-col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .qs-col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .qs-col-off-lg-1 {
    margin-left: 8.3333333333%;
  }
  .qs-col-off-lg-2 {
    margin-left: 16.6666666667%;
  }
  .qs-col-off-lg-3 {
    margin-left: 25%;
  }
  .qs-col-off-lg-4 {
    margin-left: 33.3333333333%;
  }
  .qs-col-off-lg-5 {
    margin-left: 41.6666666667%;
  }
  .qs-col-off-lg-6 {
    margin-left: 50%;
  }
  .qs-col-off-lg-7 {
    margin-left: 58.3333333333%;
  }
  .qs-col-off-lg-8 {
    margin-left: 66.6666666667%;
  }
  .qs-col-off-lg-9 {
    margin-left: 75%;
  }
  .qs-col-off-lg-10 {
    margin-left: 83.3333333333%;
  }
  .qs-col-off-lg-11 {
    margin-left: 91.6666666667%;
  }
  .qs-col-off-lg-reset {
    margin-left: 0;
  }
}
